{
  "env": {
    "browser": true, // Browser global variables like `window` etc.
    "commonjs": true, // CommonJS global variables and CommonJS scoping.Allows require, exports and module.
    "es6": true, // Enable all ECMAScript 6 features except for modules.
    "jest": true, // Jest global variables like `it` etc.
    "node": true // Defines things like process.env when generating through node
  },
  "root": true,
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "requireConfigFile": false,
    "babelOptions": {
      "presets": [
        "@babel/preset-react"
      ]
    },
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "airbnb",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jest/recommended",
    "plugin:testing-library/react"
  ],
  "rules": {
    "react/jsx-props-no-spreading": "off",
    "react/destructuring-assignment": "off",
    "react/forbid-prop-types": "off",
    "comma-dangle": "off",
    "no-use-before-define": "off",
    "no-param-reassign": "off",
    "linebreak-style": "off",
    "class-methods-use-this": "off",
    "newline-per-chained-call": [
      "error",
      {
        "ignoreChainWithDepth": 3
      }
    ],
    "array-bracket-newline": [
      "error",
      {
        "multiline": true,
        "minItems": 3
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "**/*.test.js",
        "**/*.test.jsx"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}